
/* embrulhor de slider */
.songs-slider{
    height: 20rem;
    width: 80%;

    padding: 0 0 5rem 5rem;
    margin: 0 auto;
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0 -1px var(--blue-dark);

    display: flex;

    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    overflow-y: hidden;
}

/* slider */

.songs-slider a {
    text-align: left;
    font-size: 2rem;
    font-weight: 800;
    margin-left: .9rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;

    scroll-snap-align: start;
}

.songs-slider img {
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    margin-top: .2rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px var(--silver), -1px -1px 2px blueviolet;

    transition: .1s;
}

.songs-slider a img

.songs-slider a img:hover{
    filter: brightness(1.2);
}

.songs-slider a h5,
.songs-slider a h6 {
    margin-left: .9rem;
}