*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
    --blue :rgb(19, 7, 54);
    --blue-dark :rgb(8, 3, 29);
    --back: #040517;
    --white: #e5e5e5e7;
    --silver: rgba(229, 229, 229, 0.306);

    /* 1 rem = 16px (User Agent) = 100% (user Agent) */
    font-size: 62.5% /* 10px */
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    display: flex;
    background: var(--blue);
}

header.sidebar{
    width: max(20% ,30rem);
    padding: 3rem;
    background: var(--blue-dark);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* name project */ 
.name-project {
    font-family: 'Poppins', sans-serif;
    width: 90%;
}

.name-project button {
    cursor: pointer;
    color: var(--white);
    border: none;
    background: none;
}

.name-project h1{
    font-size: 2rem;
    text-shadow: 1px 1px 2px var(--dark);
}

.name-project h1 strong {
    font-size: 1.8rem;
    color: var(--silver);
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-shadow: none;

    animation: rgb 10s infinite;
}

/* user */
.user-wrapper {
    width: 90%;
    height: 15rem;
    border-radius: .75rem .75rem 0 0;
    box-shadow: 2px 0px 4px var(--silver);
    padding: 1.9rem 1rem;
    display: flex;
}

.user-content {
    justify-content: center;
    align-items: space-between;
}

.user-wrapper .image-profile{
    height: fit-content;
    width: 35%;
    border-radius: .7rem;
    display:flex;
    
    position: relative;
}

.user-wrapper .image-profile #new-profile{
    height: 100%;
    width: 100%;
    border-radius: .7rem;

    background-repeat: no-repeat;
    background-size: cover;

    z-index: 2;
    position: absolute;
}

.user-wrapper .image-profile img {
    width: 100%;
    border-radius: .75rem;
}

.user-wrapper .user-content {
    display:flex;
    align-items: center;
}

.user-wrapper .user {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: .8rem;
}

.user-wrapper .user h2{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.user-wrapper .user .user-setting {
    color: var(--silver);
    display: flex;
    cursor: pointer;
}

.user-wrapper .user .user-setting p {
    font-size: 1.2rem;
    margin-right: .8rem;
}

.user-wrapper .user .user-setting i {
    font-size: 1.5rem;
}

/* list styles music */
.styles-music {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    
    border-radius: .5rem;
    box-shadow: 2px 0px 4px var(--silver);

    padding: 3rem;
}

.styles-music h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
}

.styles-music ul{
    list-style-type: none;
}

.styles-music ul li {
    filter:brightness(.7);
    transition: .1s;
}

.styles-music ul li:hover{
    filter:brightness(1);
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.2);
}

/** controls **/
.controlsAll audio {
    visibility: hidden;
}
.controlsAll{
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    padding: 1.2rem;
    border-radius: 0 0 .75rem .75rem ;
    box-shadow: 2px 0px 4px var(--silver);

    font-size: 1.5rem;
    cursor: pointer;
    
}


.controlsAll .volumes {
    font-size: 1rem;
    display: flex;
}

.controlsAll .volumes i{
    padding: .5rem;
    margin: auto;
}

.controlsAll .controls{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controlsAll i{
    transition: .1s;
    filter:brightness(.7);
}

.controlsAll i:hover {
    filter:brightness(1);
}

/***** main ****/
main {
    width: 80%;
    text-align: center;
    background: var(--blue);
    background: linear-gradient(90deg, var(--blue) 0%, var(--blue-dark)100%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    transition: .3s;
}


main#main-primary img#img-style-music {
    width: 10rem;
}

main.main-primary{
    opacity: 0;
}

main.main-second{
    width: 80%;
    height: 100%;
    right: 0;
    display: flex;
    
    position: fixed;

    z-index: 1;
}

main.main-second div{
    color: var(--white);
    margin: auto;
}

main.main-second div h1{
    font-size: 5rem;
}

main.main-second div h1 strong {
    font-size: 4rem;
}

/* artist wrapper */
.artists-wrapper {
    /* height: 30%; */
    text-align: left;
    color: var(--white);

    display: flex;
    justify-content: inherit;
}

/* .artists-wrapper .artist {
    margin: 0;
} */

.artists-wrapper .artist-content h2{
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    margin-left: .5rem;
    margin-bottom: 1rem;
}


#music-wrapper {
    display: flex;
    padding: .5rem;
}

#music-wrapper img {
    height: 7rem;
    width: 7rem;
    border-radius: .55rem
}

#music-wrapper .infos-music {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: .5rem;
    margin-bottom: .75rem;
}

#music-wrapper .infos-music h3 {
    font-size: 1.5rem;
    transition : .1s;
}

#music-wrapper .infos-music h3:hover {
    cursor: pointer;
    filter: brightness(1.3);
}

#music-wrapper .infos-music p {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--silver);
}


.artists-wrapper .tracks {
    width: 50%;
    border: 1px solid white;
}


/** footer controls **/
footer.play{
    background: linear-gradient(90deg, var(--blue-dark) 0%, var(--blue-dark)100%);
    color: var(--white);
    width: 80%;
    height: 3.2rem;
    
    bottom: 0; 
    position: absolute;
    display: flex;
}

footer.play .info-music-play{
    margin: auto;
}

footer.play .info-music-play .playing {
    display: flex;
}

footer.play .info-music-play .playing h2{
    padding: .5rem;
}